.App {
  background: url("./assets/bg.gif") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  min-height: 100vh;
}

.App-header {
  display: flex;
  min-height: 20vh;
  width: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 10%;
  font-family: cursive;
  color: white;
}

.social {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 20%;
}

.social a {
  margin: 5%;
}

.img {
  animation: App-logo-spin infinite 20s linear;
  height: 17vmin;
  pointer-events: none;
}

.img2  {
  animation: App-logo-spin infinite 20s linear;
  height: 14vmin;
  pointer-events: none;
}

.img3 {
  animation: App-logo-spin infinite 20s linear;
  height: 14vmin;
  pointer-events: none;
}

.name {
  font-size: 90px;
  color: white;
  text-shadow: 10px 8px deeppink;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
